<li class="{{#completed}}completed{{/completed}}">
  <div class="view">
    <input class="toggle" type="checkbox" {{#completed}}checked{{/completed}}>
    <label>{{title}}</label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="Create a TodoMVC template">
</li>
